/* Profile.css */

/*table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #4CAF50;
  color: white;
}*/



@media (max-width: 768px) {
  
}

  @media (max-width: 400px) {


}


