body{
    background: #1f242d;
    
}

.form-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 0;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    max-width: 50%;
    margin: auto;
}

.left-container
{
   
    max-width: 50%;
    margin: 0;
    padding: 4rem;
}

.heading {
    font-size: 4rem;
    text-align: center;
    padding: 2rem;
    padding-bottom: 4rem;
    color: white;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
}

.form-container h1 {
    color: #252525;
    padding-bottom: 3.5rem;
    text-align: center;
}

.form-field {
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    gap: 0 2rem;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field input[type="date"],
select {
    padding: 0.5rem;
    border-radius: 4px;
    border: none;
    outline: 1px solid gray;
}

.submit-btn {
    color: white;
    background-color: #252525;
    font-size:small;
    padding: .8rem 2rem;
    border-radius: 4px;
    border: none;
    outline: 1px solid grey;
    float: right;
    margin: 2rem 0;
    font-weight: bold;
}

.login-div{
    float: right;
    padding: 2rem;
    
}

.login-btn{
    color: black ;
    background-color: white;
    font-weight: bold;
    font-size:small;
    padding: .8rem 2rem;
    border-radius: 4px;
    border: none;
    outline: 1px solid grey;
}

/*Link {
    text-decoration-line: none;
    text-decoration: none;
}*/


.home-button{
    color: white;
    background-color: #252525;
    font-size:small;
    padding: .8rem 2rem;
    border-radius: 4px;
    border: none;
    outline: 1px solid grey;
    float: right;
    margin: 2rem 2rem;
    font-weight: bold;




    

}



@media (max-width: 768px) {
    
  
}

  @media (max-width: 400px) {


}