/* Home.css */

/* General Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Homepage Container */
.Employee_Homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: linear-gradient(to bottom, #0457af, #a3f1ee); /* Gradient from light to dark blue */
  color: #fff; /* White text color */
}


/* Button Container */
.Employee_homepage-button-div {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

/* Login Button */
.Employee_homepage-login-btn {
  padding: 12px 24px;
  background-color: #007bff; /* Blue */
  color: white;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.Employee_homepage-login-btn:hover {
  background-color: #00adb3; /* Darker blue on hover */
  box-shadow: 0 0 20px rgba(0, 86, 179, 0.5); /* Lighter shadow on hover */
}

/* Form Container */
.Employee_homepage-form-container-home {
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
  background-color: #fff; /* White background for form */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Heading */
.Employee_h2 {
  margin: 20px 0 10px;
  font-size: 36px;
  color: #007bff; /* Blue heading */
  text-align: center;
}

/* Button-like Div */
.Employee_homepage-button-as-div {
  margin-top: 20px;
  cursor: pointer;
}

/* Login Button with Hover Effects */
.Employee_homepage-login-button {
  width: 100%;
  padding: 12px 24px;
  background-color: #007bff; /* Blue */
  color: white;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.Employee_homepage-login-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
  box-shadow: 0 0 20px rgba(0, 86, 179, 0.5); /* Lighter shadow on hover */
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  .Employee_homepage-button-div {
    flex-direction: column;
    align-items: center;
  }
  
  .Employee_homepage-login-btn {
    margin: 15px 0;
  }

  .Employee_homepage-form-container-home {
    padding: 0 10px;
  }
}

@media (max-width: 400px) {
  .Employee_homepage-button-div {
    flex-direction: column;
    align-items: center;
  }

  .Employee_homepage-login-btn {
    margin: 15px 0;
  }

  .Employee_homepage-form-container-home {
    padding: 0 10px;
  }
}
